/* Breakpoints */
/* Sizes */
/* Button */
/* Colors */
/* Fonts */
/* Images */
/* Animation */
/* Derived */
/* Layout */
/* Media Query */
/* BEM */
/* line 1, F:/Github/treehouse-frontend-project07/scss/utilities/_placeholders.scss */
.icon__alert, .icon__nav {
  display: block;
  max-width: 30px;
  max-height: 30px;
  width: auto;
  height: auto;
  background: none;
}

/* line 10, F:/Github/treehouse-frontend-project07/scss/utilities/_placeholders.scss */
.button--small, .button--large {
  height: 50px;
  display: inline-block;
  cursor: pointer;
  border: none;
  border-radius: 7.5px;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  color: white;
  transition-property: box-shadow font-weight;
  transition-duration: 0.5s;
  transition-timing-function: linear;
}

/* line 22, F:/Github/treehouse-frontend-project07/scss/utilities/_placeholders.scss */
.button--small:hover, .button--large:hover, .button--small:focus, .button--large:focus {
  outline: none;
  box-shadow: 0 0 0 2px #4d4c72;
}

/* line 26, F:/Github/treehouse-frontend-project07/scss/utilities/_placeholders.scss */
.button--small:active, .button--large:active {
  font-weight: bold;
}

/* line 31, F:/Github/treehouse-frontend-project07/scss/utilities/_placeholders.scss */
.message, .message--search {
  display: block;
  padding-left: 5px;
  padding-right: 5px;
  width: 100%;
  font-size: 12px;
  font-family: "Roboto", sans-serif;
  transition-duration: 0.5s;
  transition-timing-function: linear;
  transition-property: font-size, border, box-shadow;
  border-radius: 5px;
  box-shadow: none;
  border: 1px solid #d7d7d7;
}

/* line 44, F:/Github/treehouse-frontend-project07/scss/utilities/_placeholders.scss */
.message:focus, .message--search:focus {
  outline: none;
  font-size: 16px;
  border: 1px solid #7477bf;
  box-shadow: 0 0 1px 1px #7477bf;
}

/* line 52, F:/Github/treehouse-frontend-project07/scss/utilities/_placeholders.scss */
.icon__alert-container .dot--green, .icon__alert-container .dot--red {
  display: inline-block;
  position: absolute;
  top: -4px;
  right: -4px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  transition: background-color 0.5s linear;
}

/* line 63, F:/Github/treehouse-frontend-project07/scss/utilities/_placeholders.scss */
.message--confirmation, .message--error {
  position: fixed;
  top: calc(50% - 50px);
  left: calc(50% - 150px);
  border-radius: 7.5px;
  width: 250px;
  height: 100px;
  z-index: 100;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: white;
}

/* line 73, F:/Github/treehouse-frontend-project07/scss/utilities/_placeholders.scss */
.message--confirmation p, .message--error p {
  display: inline-block;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  text-align: center;
}

/*! normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
/* line 11, F:/Github/treehouse-frontend-project07/scss/base/normalize.css */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
/* line 23, F:/Github/treehouse-frontend-project07/scss/base/normalize.css */
body {
  margin: 0;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
/* line 32, F:/Github/treehouse-frontend-project07/scss/base/normalize.css */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
/* line 45, F:/Github/treehouse-frontend-project07/scss/base/normalize.css */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
/* line 56, F:/Github/treehouse-frontend-project07/scss/base/normalize.css */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
/* line 68, F:/Github/treehouse-frontend-project07/scss/base/normalize.css */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
/* line 77, F:/Github/treehouse-frontend-project07/scss/base/normalize.css */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
/* line 87, F:/Github/treehouse-frontend-project07/scss/base/normalize.css */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
/* line 97, F:/Github/treehouse-frontend-project07/scss/base/normalize.css */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
/* line 108, F:/Github/treehouse-frontend-project07/scss/base/normalize.css */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
/* line 117, F:/Github/treehouse-frontend-project07/scss/base/normalize.css */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 125, F:/Github/treehouse-frontend-project07/scss/base/normalize.css */
sub {
  bottom: -0.25em;
}

/* line 129, F:/Github/treehouse-frontend-project07/scss/base/normalize.css */
sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
/* line 140, F:/Github/treehouse-frontend-project07/scss/base/normalize.css */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
/* line 152, F:/Github/treehouse-frontend-project07/scss/base/normalize.css */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
/* line 168, F:/Github/treehouse-frontend-project07/scss/base/normalize.css */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
/* line 178, F:/Github/treehouse-frontend-project07/scss/base/normalize.css */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
/* line 187, F:/Github/treehouse-frontend-project07/scss/base/normalize.css */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
/* line 198, F:/Github/treehouse-frontend-project07/scss/base/normalize.css */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
/* line 210, F:/Github/treehouse-frontend-project07/scss/base/normalize.css */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
/* line 221, F:/Github/treehouse-frontend-project07/scss/base/normalize.css */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
/* line 232, F:/Github/treehouse-frontend-project07/scss/base/normalize.css */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
/* line 245, F:/Github/treehouse-frontend-project07/scss/base/normalize.css */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
/* line 253, F:/Github/treehouse-frontend-project07/scss/base/normalize.css */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
/* line 262, F:/Github/treehouse-frontend-project07/scss/base/normalize.css */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
/* line 272, F:/Github/treehouse-frontend-project07/scss/base/normalize.css */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
/* line 282, F:/Github/treehouse-frontend-project07/scss/base/normalize.css */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
/* line 291, F:/Github/treehouse-frontend-project07/scss/base/normalize.css */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
/* line 300, F:/Github/treehouse-frontend-project07/scss/base/normalize.css */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
/* line 312, F:/Github/treehouse-frontend-project07/scss/base/normalize.css */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
/* line 320, F:/Github/treehouse-frontend-project07/scss/base/normalize.css */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
/* line 331, F:/Github/treehouse-frontend-project07/scss/base/normalize.css */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
/* line 339, F:/Github/treehouse-frontend-project07/scss/base/normalize.css */
[hidden] {
  display: none;
}

/* line 1, F:/Github/treehouse-frontend-project07/scss/base/_base.scss */
* {
  box-sizing: border-box;
}

/* line 5, F:/Github/treehouse-frontend-project07/scss/base/_base.scss */
h1, h2, h3 {
  font-weight: normal;
}

/* line 9, F:/Github/treehouse-frontend-project07/scss/base/_base.scss */
strong {
  font-weight: bolder;
}

/* line 13, F:/Github/treehouse-frontend-project07/scss/base/_base.scss */
body {
  width: 100%;
  height: 100%;
  max-width: 100vw;
}

/* line 19, F:/Github/treehouse-frontend-project07/scss/base/_base.scss */
main {
  max-width: 100vw;
}

/* line 23, F:/Github/treehouse-frontend-project07/scss/base/_base.scss */
.hide {
  display: none;
}

/* line 52, F:/Github/treehouse-frontend-project07/scss/utilities/_mixins.scss */
.profile__self {
  display: flex;
  align-items: center;
  cursor: pointer;
  grid-area: profile-self;
  height: 40px;
}

/* line 7, F:/Github/treehouse-frontend-project07/scss/components/_profiles.scss */
.profile__self:hover .profile__image {
  animation: rotation-sm 1.5s linear infinite;
}

/* line 52, F:/Github/treehouse-frontend-project07/scss/utilities/_mixins.scss */
.profile__image {
  height: 40px;
  width: 40px;
  border: 1px solid white;
  border-radius: 50%;
}

/* line 52, F:/Github/treehouse-frontend-project07/scss/utilities/_mixins.scss */
.profile__name {
  display: inline-block;
  color: white;
  font-size: 16px;
}

/* line 52, F:/Github/treehouse-frontend-project07/scss/utilities/_mixins.scss */
.profile__member {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  grid-area: profile;
}

@keyframes rotation-sm {
  0% {
    transform: rotate(30deg);
  }
  10% {
    transform: rotate(-30deg);
  }
  20% {
    transform: rotate(20deg);
  }
  30% {
    transform: rotate(-20deg);
  }
  40% {
    transform: rotate(10deg);
  }
  50% {
    transform: rotate(-10deg);
  }
  70% {
    transform: rotate(5deg);
  }
  90% {
    transform: rotate(-5deg);
  }
  90% {
    transform: rotate(0deg);
  }
}

/* line 52, F:/Github/treehouse-frontend-project07/scss/utilities/_mixins.scss */
.header__main {
  width: 100%;
  grid-area: main-header;
  background-color: #7477bf;
  font-family: "Open Sans", sans-serif;
  padding-left: 5px;
  padding-right: 5px;
  display: grid;
  grid-template-areas: "webtitle webtitle webtitle" "icon-alert icon-alert profile-self";
  grid-template-rows: repeat(2, auto);
  grid-template-columns: 2fr 1fr 1fr;
  align-items: center;
  justify-content: center;
  grid-template-columns: auto 30px 125px;
  padding-top: 5px;
  padding-bottom: 5px;
  align-items: center;
}

@media (min-width: 768px) {
  /* line 52, F:/Github/treehouse-frontend-project07/scss/utilities/_mixins.scss */
  .header__main {
    padding-left: 20px;
  }
}

@media (min-width: 1024px) {
  /* line 52, F:/Github/treehouse-frontend-project07/scss/utilities/_mixins.scss */
  .header__main {
    padding-left: 40px;
  }
}

@media (min-width: 768px) {
  /* line 52, F:/Github/treehouse-frontend-project07/scss/utilities/_mixins.scss */
  .header__main {
    padding-right: 20px;
  }
}

@media (min-width: 1024px) {
  /* line 52, F:/Github/treehouse-frontend-project07/scss/utilities/_mixins.scss */
  .header__main {
    padding-right: 40px;
  }
}

@media (min-width: 768px) {
  /* line 52, F:/Github/treehouse-frontend-project07/scss/utilities/_mixins.scss */
  .header__main {
    display: grid;
    grid-template-areas: "webtitle icon-alert profile-self";
    grid-template-rows: 45px;
    justify-content: stretch;
    height: 55px;
  }
}

@media (min-width: 768px) {
  /* line 52, F:/Github/treehouse-frontend-project07/scss/utilities/_mixins.scss */
  .header__main {
    grid-template-columns: auto 30px 145px;
  }
}

@media (min-width: 1024px) {
  /* line 52, F:/Github/treehouse-frontend-project07/scss/utilities/_mixins.scss */
  .header__main {
    grid-template-columns: auto 30px 155px;
  }
}

/* line 20, F:/Github/treehouse-frontend-project07/scss/components/_header.scss */
.header__main .icon__alert-container {
  grid-area: icon-alert;
}

/* line 23, F:/Github/treehouse-frontend-project07/scss/components/_header.scss */
.header__main .profile__self {
  padding-left: 5px;
  margin-left: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  box-shadow: inset 1px 0 0 0 #626091;
}

@media (min-width: 768px) {
  /* line 23, F:/Github/treehouse-frontend-project07/scss/components/_header.scss */
  .header__main .profile__self {
    padding-left: 15px;
  }
}

@media (min-width: 1024px) {
  /* line 23, F:/Github/treehouse-frontend-project07/scss/components/_header.scss */
  .header__main .profile__self {
    padding-left: 20px;
  }
}

@media (min-width: 768px) {
  /* line 23, F:/Github/treehouse-frontend-project07/scss/components/_header.scss */
  .header__main .profile__self {
    margin-left: 15px;
  }
}

@media (min-width: 1024px) {
  /* line 23, F:/Github/treehouse-frontend-project07/scss/components/_header.scss */
  .header__main .profile__self {
    margin-left: 20px;
  }
}

/* line 28, F:/Github/treehouse-frontend-project07/scss/components/_header.scss */
.header__main .profile__self > .profile__name {
  margin-left: 5px;
}

@media (min-width: 768px) {
  /* line 28, F:/Github/treehouse-frontend-project07/scss/components/_header.scss */
  .header__main .profile__self > .profile__name {
    margin-left: 15px;
  }
}

@media (min-width: 1024px) {
  /* line 28, F:/Github/treehouse-frontend-project07/scss/components/_header.scss */
  .header__main .profile__self > .profile__name {
    margin-left: 20px;
  }
}

/* line 52, F:/Github/treehouse-frontend-project07/scss/utilities/_mixins.scss */
.header__webtitle {
  grid-area: webtitle;
  font-size: 24px;
  color: white;
  text-align: center;
}

@media (min-width: 768px) {
  /* line 52, F:/Github/treehouse-frontend-project07/scss/utilities/_mixins.scss */
  .header__webtitle {
    text-align: left;
  }
}

/* line 52, F:/Github/treehouse-frontend-project07/scss/utilities/_mixins.scss */
.header__page {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 50px;
  color: black;
  font-family: "Roboto", sans-serif;
  width: 100%;
  display: grid;
  grid-template-areas: "page-header search-wrapper";
  grid-template-rows: 55px;
  grid-template-columns: 1fr 5fr;
  align-items: center;
}

/* line 48, F:/Github/treehouse-frontend-project07/scss/components/_header.scss */
.header__page .wrapper {
  grid-area: search-wrapper;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  background: whitesmoke;
  border-left: 1px solid #d7d7d7;
  border-bottom: 1px solid #d7d7d7;
}

/* line 55, F:/Github/treehouse-frontend-project07/scss/components/_header.scss */
.header__page .wrapper .searchbox {
  width: 100px;
  transition: width 1s linear;
  margin-right: 5px;
  border: 1.25px solid #d7d7d7;
  border-radius: 5px;
  font-size: 12px;
  height: 30px;
  padding-left: 10px;
  padding-right: 10px;
  background-image: url("../icons/icon-search.svg");
  background-repeat: no-repeat;
  background-position: right 10.5px bottom 50%;
  background-color: white;
  background-size: 20px;
  transition: box-shadow 0.5s ease-out, color 0.5s ease-out, font-size 0.5s ease-out;
}

@media (min-width: 768px) {
  /* line 55, F:/Github/treehouse-frontend-project07/scss/components/_header.scss */
  .header__page .wrapper .searchbox {
    width: 175px;
  }
}

@media (min-width: 1024px) {
  /* line 55, F:/Github/treehouse-frontend-project07/scss/components/_header.scss */
  .header__page .wrapper .searchbox {
    width: 250px;
  }
}

@media (min-width: 768px) {
  /* line 55, F:/Github/treehouse-frontend-project07/scss/components/_header.scss */
  .header__page .wrapper .searchbox {
    margin-right: 30px;
  }
}

@media (min-width: 1024px) {
  /* line 55, F:/Github/treehouse-frontend-project07/scss/components/_header.scss */
  .header__page .wrapper .searchbox {
    margin-right: 40px;
  }
}

/* line 73, F:/Github/treehouse-frontend-project07/scss/components/_header.scss */
.header__page .wrapper .searchbox:focus {
  outline: none;
  box-shadow: 0 0 1.75px #7e7e7e;
  color: #7477bf;
  font-size: 16px;
}

/* line 79, F:/Github/treehouse-frontend-project07/scss/components/_header.scss */
.header__page .wrapper .searchbox::placeholder {
  font-weight: normal;
  color: #d7d7d7;
}

/* line 52, F:/Github/treehouse-frontend-project07/scss/utilities/_mixins.scss */
.header__pagetitle {
  grid-area: page-header;
  margin: 0;
  min-width: 130px;
  font-weight: 400;
  font-size: 24px;
  text-align: center;
}

/* line 52, F:/Github/treehouse-frontend-project07/scss/utilities/_mixins.scss */
.header__section {
  width: 100%;
}

/* line 52, F:/Github/treehouse-frontend-project07/scss/utilities/_mixins.scss */
.header__sectiontitle {
  text-align: left;
  font-size: 16px;
  font-weight: normal;
  font-family: "Open Sans", sans-serif;
}

/* line 52, F:/Github/treehouse-frontend-project07/scss/utilities/_mixins.scss */
.header__social {
  grid-area: header-social;
  text-align: center;
  font-family: "Roboto", sans-serif;
  margin-top: 15px;
  margin-bottom: 3.75px;
  font-size: 16px;
}

/* line 52, F:/Github/treehouse-frontend-project07/scss/utilities/_mixins.scss */
.header__member {
  grid-area: member-name;
  max-width: 175px;
}

@media (min-width: 768px) {
  /* line 52, F:/Github/treehouse-frontend-project07/scss/utilities/_mixins.scss */
  .header__member {
    max-width: auto;
  }
}

/* line 1, F:/Github/treehouse-frontend-project07/scss/components/_navigation.scss */
.nav {
  width: 100%;
  height: 100%;
  width: 100%;
  display: grid;
  align-items: start;
  grid-template-columns: 100%;
  background: #4d4c72;
  min-width: 100%;
  grid-area: navbar;
}

@media (min-width: 768px) {
  /* line 1, F:/Github/treehouse-frontend-project07/scss/components/_navigation.scss */
  .nav {
    width: 75px;
  }
}

@media (min-width: 1024px) {
  /* line 1, F:/Github/treehouse-frontend-project07/scss/components/_navigation.scss */
  .nav {
    width: 100px;
  }
}

@media (min-width: 768px) {
  /* line 1, F:/Github/treehouse-frontend-project07/scss/components/_navigation.scss */
  .nav {
    grid-template-columns: 75px;
  }
}

@media (min-width: 1024px) {
  /* line 1, F:/Github/treehouse-frontend-project07/scss/components/_navigation.scss */
  .nav {
    grid-template-columns: 100px;
  }
}

@media (min-width: 768px) {
  /* line 1, F:/Github/treehouse-frontend-project07/scss/components/_navigation.scss */
  .nav {
    min-width: 0;
    min-height: 100vh;
  }
}

/* line 52, F:/Github/treehouse-frontend-project07/scss/utilities/_mixins.scss */
.nav__list {
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: repeat(4, 1fr);
  align-items: end;
  top: 0;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
}

@media (min-width: 768px) {
  /* line 52, F:/Github/treehouse-frontend-project07/scss/utilities/_mixins.scss */
  .nav__list {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: 1fr;
    align-items: center;
    height: auto;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
}

/* line 52, F:/Github/treehouse-frontend-project07/scss/utilities/_mixins.scss */
.nav__item {
  display: inline-block;
  width: 60px;
  margin-right: 0;
  list-style: none;
  position: relative;
  overflow: visible;
  margin-left: 10px;
  height: 100%;
}

@media (min-width: 768px) {
  /* line 52, F:/Github/treehouse-frontend-project07/scss/utilities/_mixins.scss */
  .nav__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
}

@media (min-width: 768px) {
  /* line 52, F:/Github/treehouse-frontend-project07/scss/utilities/_mixins.scss */
  .nav__item {
    margin-left: 0;
    margin-top: 20px;
    height: auto;
  }
}

@media (min-width: 1024px) {
  /* line 52, F:/Github/treehouse-frontend-project07/scss/utilities/_mixins.scss */
  .nav__item {
    margin-top: 25px;
  }
}

/* line 48, F:/Github/treehouse-frontend-project07/scss/components/_navigation.scss */
.nav__item[class*="nav__targeted"] {
  fill: white;
  position: relative;
}

/* line 51, F:/Github/treehouse-frontend-project07/scss/components/_navigation.scss */
.nav__item[class*="nav__targeted"]::before {
  content: "";
  position: absolute;
  top: -16px;
  width: 60px;
  left: -15px;
  height: 0;
  border-bottom: 4px solid #85db81;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  text-align: center;
}

@media (min-width: 768px) {
  /* line 51, F:/Github/treehouse-frontend-project07/scss/components/_navigation.scss */
  .nav__item[class*="nav__targeted"]::before {
    top: auto;
    left: 0;
    height: 150%;
    width: 0;
    border-right: 4px solid #85db81;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
  }
}

/* line 74, F:/Github/treehouse-frontend-project07/scss/components/_navigation.scss */
.nav__item:not([class*="nav__targeted"]) {
  fill: #b3b3b3;
}

/* line 77, F:/Github/treehouse-frontend-project07/scss/components/_navigation.scss */
.nav__item::after {
  font-family: "Roboto", sans-serif;
  position: absolute;
  bottom: -48px;
  left: -10px;
  padding: 10px;
  width: auto;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  visibility: hidden;
  border-radius: 75px;
  content: attr(link);
  background: #85db81;
  color: white;
  opacity: 0;
  border: 0px solid rgba(165, 42, 42, 0);
  text-align: center;
  transition: opacity 0.5s linear, border 0.5s linear;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  /* line 77, F:/Github/treehouse-frontend-project07/scss/components/_navigation.scss */
  .nav__item::after {
    bottom: auto;
    left: auto;
    right: -140px;
    padding: 15px 0;
    width: 150px;
    font-size: 16px;
  }
}

/* line 111, F:/Github/treehouse-frontend-project07/scss/components/_navigation.scss */
.nav__item:hover::after {
  visibility: visible;
  display: block;
  opacity: 1;
  border: 2px solid brown;
}

/* line 52, F:/Github/treehouse-frontend-project07/scss/utilities/_mixins.scss */
.icon__alert {
  fill: white;
  cursor: pointer;
  transition: fill 2.5s linear;
}

/* line 7, F:/Github/treehouse-frontend-project07/scss/components/_images.scss */
.icon__alert:hover {
  fill: #ff8080;
  animation: rotation-lg 1.5s linear infinite;
}

/* line 11, F:/Github/treehouse-frontend-project07/scss/components/_images.scss */
.icon__alert-container {
  overflow: visible;
  position: relative;
  align-self: center;
}

/* line 58, F:/Github/treehouse-frontend-project07/scss/utilities/_mixins.scss */
.icon__alert-container .dot--green {
  background-color: #85db81;
}

/* line 58, F:/Github/treehouse-frontend-project07/scss/utilities/_mixins.scss */
.icon__alert-container .dot--red {
  background-color: #ff8080;
}

/* line 52, F:/Github/treehouse-frontend-project07/scss/utilities/_mixins.scss */
.icon__nav {
  cursor: pointer;
}

/* line 52, F:/Github/treehouse-frontend-project07/scss/utilities/_mixins.scss */
.icon__social {
  width: 40px;
  height: 40px;
  fill: white;
}

/* line 35, F:/Github/treehouse-frontend-project07/scss/components/_images.scss */
.icon__social-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
  grid-area: icon-social;
  background-color: #7477bf;
  border-radius: 50%;
  transition: background-color 0.5s linear;
}

@keyframes rotation-lg {
  0% {
    transform: rotate(45deg);
  }
  10% {
    transform: rotate(-45deg);
  }
  20% {
    transform: rotate(30deg);
  }
  30% {
    transform: rotate(-30deg);
  }
  40% {
    transform: rotate(20deg);
  }
  50% {
    transform: rotate(-20deg);
  }
  70% {
    transform: rotate(10deg);
  }
  90% {
    transform: rotate(-10deg);
  }
  90% {
    transform: rotate(0deg);
  }
}

/* line 58, F:/Github/treehouse-frontend-project07/scss/utilities/_mixins.scss */
.button--close {
  display: inline-block;
  font-weight: bolder;
  cursor: pointer;
  transition: transform 0.5s linear, color 0.5s linear;
  margin-left: auto;
}

/* line 9, F:/Github/treehouse-frontend-project07/scss/components/_buttons.scss */
.button--close:hover {
  transform: scale(1.1);
}

/* line 12, F:/Github/treehouse-frontend-project07/scss/components/_buttons.scss */
.button--close:active {
  color: #ff8080;
}

/* line 58, F:/Github/treehouse-frontend-project07/scss/utilities/_mixins.scss */
.button--small {
  width: 45%;
}

/* line 19, F:/Github/treehouse-frontend-project07/scss/components/_buttons.scss */
.button--small:not([class*="button--negative"]) {
  background-color: #7477bf;
}

/* line 22, F:/Github/treehouse-frontend-project07/scss/components/_buttons.scss */
.button--small[class*="button--negative"] {
  background-color: grey;
}

/* line 58, F:/Github/treehouse-frontend-project07/scss/utilities/_mixins.scss */
.button--large {
  width: 100%;
  background-color: #7477bf;
}

/* line 58, F:/Github/treehouse-frontend-project07/scss/utilities/_mixins.scss */
.member--list {
  padding-left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
}

/* line 58, F:/Github/treehouse-frontend-project07/scss/utilities/_mixins.scss */
.member--wrapper {
  list-style: none;
  margin-bottom: 15px;
}

/* line 58, F:/Github/treehouse-frontend-project07/scss/utilities/_mixins.scss */
.member--email {
  grid-area: email;
  font-size: 12px;
}

@media (min-width: 768px) {
  /* line 58, F:/Github/treehouse-frontend-project07/scss/utilities/_mixins.scss */
  .member--email {
    font-size: 16px;
  }
}

/* line 58, F:/Github/treehouse-frontend-project07/scss/utilities/_mixins.scss */
.member--date {
  grid-area: date;
  font-size: 12px;
  text-align: right;
  margin-right: 7px;
}

@media (min-width: 768px) {
  /* line 58, F:/Github/treehouse-frontend-project07/scss/utilities/_mixins.scss */
  .member--date {
    font-size: 16px;
    margin-right: auto;
  }
}

/* line 58, F:/Github/treehouse-frontend-project07/scss/utilities/_mixins.scss */
.member--activity {
  grid-area: activity;
}

/* line 29, F:/Github/treehouse-frontend-project07/scss/components/_sections.scss */
.member--activity-time {
  grid-area: time;
}

/* line 32, F:/Github/treehouse-frontend-project07/scss/components/_sections.scss */
.member--activity-goto {
  grid-area: goto;
  width: 20px;
  height: 20px;
  fill: #7477bf;
  cursor: pointer;
  transition: fill 0.5s linear, transform 0.5s linear;
}

@media (min-width: 768px) {
  /* line 32, F:/Github/treehouse-frontend-project07/scss/components/_sections.scss */
  .member--activity-goto {
    width: 30px;
    height: 30px;
  }
}

/* line 44, F:/Github/treehouse-frontend-project07/scss/components/_sections.scss */
.member--activity-goto:hover {
  fill: #4d4c72;
  transform: scale(1.2);
}

/* line 52, F:/Github/treehouse-frontend-project07/scss/components/_sections.scss */
.section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5px;
  display: grid;
  grid-template-rows: 40px auto;
  grid-template-columns: 100%;
}

@media (min-width: 768px) {
  /* line 52, F:/Github/treehouse-frontend-project07/scss/components/_sections.scss */
  .section {
    padding: 10px;
  }
}

@media (min-width: 1024px) {
  /* line 52, F:/Github/treehouse-frontend-project07/scss/components/_sections.scss */
  .section {
    padding: 20px;
  }
}

/* line 56, F:/Github/treehouse-frontend-project07/scss/components/_sections.scss */
.section:not(:first-of-type) {
  border-top: 1px solid #d7d7d7;
}

/* line 63, F:/Github/treehouse-frontend-project07/scss/components/_sections.scss */
#section-traffic {
  grid-area: traffic;
}

/* line 65, F:/Github/treehouse-frontend-project07/scss/components/_sections.scss */
#section-traffic .header__section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

/* line 67, F:/Github/treehouse-frontend-project07/scss/components/_sections.scss */
#section-traffic .header__section .header__sectiontitle {
  margin-right: auto;
}

/* line 70, F:/Github/treehouse-frontend-project07/scss/components/_sections.scss */
#section-traffic .header__section .scale--option {
  cursor: pointer;
  padding: 5px;
  border-radius: 13px;
  text-align: center;
  vertical-align: middle;
  transition-property: color, background-color, font-weight;
  transition-timing-function: linear;
  transition-duration: 0.5s;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: normal;
}

@media (min-width: 768px) {
  /* line 70, F:/Github/treehouse-frontend-project07/scss/components/_sections.scss */
  #section-traffic .header__section .scale--option {
    padding: 10px;
  }
}

@media (min-width: 1024px) {
  /* line 70, F:/Github/treehouse-frontend-project07/scss/components/_sections.scss */
  #section-traffic .header__section .scale--option {
    padding: 15px;
  }
}

@media (min-width: 768px) {
  /* line 70, F:/Github/treehouse-frontend-project07/scss/components/_sections.scss */
  #section-traffic .header__section .scale--option {
    border-radius: 18px;
  }
}

@media (min-width: 1024px) {
  /* line 70, F:/Github/treehouse-frontend-project07/scss/components/_sections.scss */
  #section-traffic .header__section .scale--option {
    border-radius: 23px;
  }
}

@media (min-width: 768px) {
  /* line 70, F:/Github/treehouse-frontend-project07/scss/components/_sections.scss */
  #section-traffic .header__section .scale--option {
    font-size: 16px;
    font-weight: 450;
  }
}

/* line 87, F:/Github/treehouse-frontend-project07/scss/components/_sections.scss */
#section-traffic .header__section .scale--selected {
  font-weight: 550;
  color: white;
  background-color: #85db81;
}

/* line 92, F:/Github/treehouse-frontend-project07/scss/components/_sections.scss */
#section-traffic .header__section canvas {
  max-width: 100%;
  overflow: hidden;
}

/* line 98, F:/Github/treehouse-frontend-project07/scss/components/_sections.scss */
#section-daily-traffic {
  grid-area: daily-traffic;
}

@media (min-width: 768px) {
  /* line 98, F:/Github/treehouse-frontend-project07/scss/components/_sections.scss */
  #section-daily-traffic {
    border-right: 1px solid #d7d7d7;
  }
}

/* line 104, F:/Github/treehouse-frontend-project07/scss/components/_sections.scss */
#section-mobile-users {
  grid-area: mobile-users;
}

/* line 107, F:/Github/treehouse-frontend-project07/scss/components/_sections.scss */
#section-social-stats {
  grid-area: social-stats;
}

/* line 110, F:/Github/treehouse-frontend-project07/scss/components/_sections.scss */
#section-new-members {
  grid-area: new-members;
}

@media (min-width: 768px) {
  /* line 110, F:/Github/treehouse-frontend-project07/scss/components/_sections.scss */
  #section-new-members {
    border-right: 1px solid #d7d7d7;
  }
}

/* line 115, F:/Github/treehouse-frontend-project07/scss/components/_sections.scss */
#section-new-members .member--wrapper {
  display: grid;
  grid-template-areas: "profile member-name date" "profile email email";
  grid-template-rows: 20px auto;
  grid-template-columns: 47.5px auto auto;
  align-items: center;
}

@media (min-width: 768px) {
  /* line 115, F:/Github/treehouse-frontend-project07/scss/components/_sections.scss */
  #section-new-members .member--wrapper {
    display: grid;
    grid-template-areas: "profile member-name date" "profile email email";
    grid-template-rows: 25px 25px;
    grid-template-columns: 55px auto 75px;
    align-items: center;
  }
}

/* line 128, F:/Github/treehouse-frontend-project07/scss/components/_sections.scss */
#section-recent-activity {
  grid-area: recent-activity;
}

/* line 130, F:/Github/treehouse-frontend-project07/scss/components/_sections.scss */
#section-recent-activity .member--wrapper {
  display: grid;
  grid-template-areas: "profile activity goto" "profile time goto";
  grid-template-rows: 45px 25px;
  grid-template-columns: 55px auto 20px;
  align-items: center;
}

@media (min-width: 768px) {
  /* line 130, F:/Github/treehouse-frontend-project07/scss/components/_sections.scss */
  #section-recent-activity .member--wrapper {
    display: grid;
    grid-template-areas: "profile activity goto" "profile time goto";
    grid-template-rows: 25px 25px;
    grid-template-columns: 55px auto 40px;
    align-items: center;
  }
}

/* line 143, F:/Github/treehouse-frontend-project07/scss/components/_sections.scss */
#section-message-user {
  grid-area: message-user;
  min-height: 300px;
}

@media (min-width: 768px) {
  /* line 143, F:/Github/treehouse-frontend-project07/scss/components/_sections.scss */
  #section-message-user {
    border-right: 1px solid #d7d7d7;
  }
}

/* line 149, F:/Github/treehouse-frontend-project07/scss/components/_sections.scss */
#section-message-user form {
  position: relative;
}

/* line 153, F:/Github/treehouse-frontend-project07/scss/components/_sections.scss */
#section-settings {
  grid-area: settings;
}

/* line 155, F:/Github/treehouse-frontend-project07/scss/components/_sections.scss */
#section-settings form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* line 161, F:/Github/treehouse-frontend-project07/scss/components/_sections.scss */
.wrapper__social {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}

@media (min-width: 768px) {
  /* line 161, F:/Github/treehouse-frontend-project07/scss/components/_sections.scss */
  .wrapper__social {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
}

/* line 169, F:/Github/treehouse-frontend-project07/scss/components/_sections.scss */
.data--social {
  grid-area: data-social;
  text-align: center;
  font-family: "Roboto", sans-serif;
  margin-top: 3.75px;
  font-size: 16px;
}

@media (min-width: 768px) {
  /* line 169, F:/Github/treehouse-frontend-project07/scss/components/_sections.scss */
  .data--social {
    font-size: 24px;
  }
}

/* line 180, F:/Github/treehouse-frontend-project07/scss/components/_sections.scss */
.card--social {
  background-color: whitesmoke;
  max-width: 262.5px;
  border: 1px solid #d7d7d7;
  border-radius: 7.5px;
  margin-bottom: 15px;
  margin-right: 15px;
  margin-left: 15px;
  flex-grow: 1;
  display: grid;
  grid-template-areas: "icon-social header-social" "icon-social data-social";
  grid-template-columns: 66% 33%;
  align-items: center;
  padding-left: 30px;
  padding-right: 30px;
  transition-property: background-color, box-shadow;
  transition-duration: 0.5s;
  transition-timing-function: linear;
}

@media (min-width: 768px) {
  /* line 180, F:/Github/treehouse-frontend-project07/scss/components/_sections.scss */
  .card--social {
    max-width: 350px;
  }
}

/* line 200, F:/Github/treehouse-frontend-project07/scss/components/_sections.scss */
.card--social:hover {
  background-color: #cfcfcf;
  box-shadow: 0 0 0 3px #646464;
}

/* line 203, F:/Github/treehouse-frontend-project07/scss/components/_sections.scss */
.card--social:hover .icon__social-container {
  background-color: #4d4c72;
}

/* line 58, F:/Github/treehouse-frontend-project07/scss/utilities/_mixins.scss */
.settings--description {
  display: inline-block;
  width: 185px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  height: auto;
}

@media (min-width: 768px) {
  /* line 58, F:/Github/treehouse-frontend-project07/scss/utilities/_mixins.scss */
  .settings--description {
    width: 250px;
  }
}

/* line 58, F:/Github/treehouse-frontend-project07/scss/utilities/_mixins.scss */
.settings--form {
  margin-top: 30px;
}

/* line 58, F:/Github/treehouse-frontend-project07/scss/utilities/_mixins.scss */
.settings--toggle {
  display: block;
  cursor: pointer;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background-color: #676767;
  width: 100px;
  height: 30px;
  outline: none;
  border-radius: 15px;
  transition-property: background-color;
  transition-duration: 0.5s;
  transition-timing-function: linear;
  position: relative;
}

/* line 238, F:/Github/treehouse-frontend-project07/scss/components/_sections.scss */
.settings--toggle::before {
  content: "OFF";
  color: white;
  font-size: 16px;
  position: absolute;
  transition: right 0.5s linear;
  right: 35px;
  top: 7px;
  vertical-align: middle;
}

/* line 248, F:/Github/treehouse-frontend-project07/scss/components/_sections.scss */
.settings--toggle::after {
  content: "";
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: white;
  position: absolute;
  transition-property: left;
  transition-duration: 0.25s;
  transition-timing-function: linear;
  left: 3px;
  top: 3px;
}

/* line 261, F:/Github/treehouse-frontend-project07/scss/components/_sections.scss */
.settings--toggle:checked {
  background-color: #5155af;
}

/* line 263, F:/Github/treehouse-frontend-project07/scss/components/_sections.scss */
.settings--toggle:checked::before {
  right: 37px;
  top: 7px;
  content: "ON";
}

/* line 268, F:/Github/treehouse-frontend-project07/scss/components/_sections.scss */
.settings--toggle:checked::after {
  left: 73px;
}

/* line 58, F:/Github/treehouse-frontend-project07/scss/utilities/_mixins.scss */
.settings--time-zone {
  align-self: center;
  display: block;
  width: 80%;
  height: 50px;
  margin-top: 10px;
  margin-bottom: 30px;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  border-radius: 5px;
  transition-property: font-size, box-shadow, color;
  transition-duration: 0.125s, 0.5s;
  transition-timing-function: linear;
  border: 1px solid #d7d7d7;
}

@media (min-width: 768px) {
  /* line 58, F:/Github/treehouse-frontend-project07/scss/utilities/_mixins.scss */
  .settings--time-zone {
    width: 100%;
  }
}

/* line 290, F:/Github/treehouse-frontend-project07/scss/components/_sections.scss */
.settings--time-zone:focus {
  font-size: 13px;
  outline: none;
  border: 1px solid #7477bf;
  box-shadow: 0 0 1px 1px #7477bf;
}

/* line 299, F:/Github/treehouse-frontend-project07/scss/components/_sections.scss */
.wrapper__button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

/* line 303, F:/Github/treehouse-frontend-project07/scss/components/_sections.scss */
.message {
  resize: none;
  margin-top: 10px;
  height: 130px;
}

/* line 58, F:/Github/treehouse-frontend-project07/scss/utilities/_mixins.scss */
.message--search {
  height: 40px;
}

/* line 314, F:/Github/treehouse-frontend-project07/scss/components/_sections.scss */
#message--send {
  position: absolute;
  bottom: 0;
}

/* line 52, F:/Github/treehouse-frontend-project07/scss/utilities/_mixins.scss */
.wrapper__email {
  height: 35px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* line 52, F:/Github/treehouse-frontend-project07/scss/utilities/_mixins.scss */
.wrapper__privacy {
  height: 55px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* line 330, F:/Github/treehouse-frontend-project07/scss/components/_sections.scss */
#users-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  z-index: 1;
  position: absolute;
  top: 40px;
}

/* line 336, F:/Github/treehouse-frontend-project07/scss/components/_sections.scss */
#users-container .autocomplete-item {
  display: block;
  width: 100%;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  padding: 15px 2px;
  margin: 3px 0;
  cursor: pointer;
  transition-duration: 0.5s;
  transition-timing-function: linear;
}

/* line 346, F:/Github/treehouse-frontend-project07/scss/components/_sections.scss */
#users-container .autocomplete-item:hover {
  background-color: #7477bf;
}

/* line 352, F:/Github/treehouse-frontend-project07/scss/components/_sections.scss */
.users-container-nonempty {
  color: white;
  border: 1px solid #4d4c72;
  border-radius: 5px;
  background-color: #a8aad7;
  transition-duration: 0.5s;
  transition-timing-function: linear;
}

/* line 359, F:/Github/treehouse-frontend-project07/scss/components/_sections.scss */
.users-container-nonempty:hover {
  border: 1px solid #2e2d44;
  box-shadow: 0 0 1px 2px #cbcce7;
}

/* line 365, F:/Github/treehouse-frontend-project07/scss/components/_sections.scss */
.chart {
  max-width: 95%;
}

@media (min-width: 768px) {
  /* line 365, F:/Github/treehouse-frontend-project07/scss/components/_sections.scss */
  .chart {
    max-width: 100%;
  }
}

/* line 52, F:/Github/treehouse-frontend-project07/scss/utilities/_mixins.scss */
.alert__slide {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  font-weight: normal;
  font-family: "Open Sans", sans-serif;
  width: 97.5%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  margin-bottom: 7.5px;
  text-align: left;
  color: white;
  background-color: #7477bf;
  border-radius: 7.5px;
  padding: 3.75px 15px;
}

@media (min-width: 768px) {
  /* line 52, F:/Github/treehouse-frontend-project07/scss/utilities/_mixins.scss */
  .alert__slide {
    width: 96%;
  }
}

@media (min-width: 1024px) {
  /* line 52, F:/Github/treehouse-frontend-project07/scss/utilities/_mixins.scss */
  .alert__slide {
    width: 94.5%;
  }
}

/* line 17, F:/Github/treehouse-frontend-project07/scss/components/_alert.scss */
.alert__slide p {
  width: 100%;
  display: inline-block;
}

/* line 20, F:/Github/treehouse-frontend-project07/scss/components/_alert.scss */
.alert__slide p strong {
  margin-right: 7.5px;
}

/* line 24, F:/Github/treehouse-frontend-project07/scss/components/_alert.scss */
.alert__slide .button--close {
  margin-left: 15px;
}

/* line 52, F:/Github/treehouse-frontend-project07/scss/utilities/_mixins.scss */
.alert__container {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  width: 250px;
  position: absolute;
  top: 40px;
  left: -62.5px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  display: none;
  border-radius: 7.5px;
  background-color: #434263;
  border: 2px solid #191926;
  color: white;
  z-index: 2;
}

@media (min-width: 768px) {
  /* line 52, F:/Github/treehouse-frontend-project07/scss/utilities/_mixins.scss */
  .alert__container {
    top: 40px;
    left: -125px;
  }
}

/* line 52, F:/Github/treehouse-frontend-project07/scss/utilities/_mixins.scss */
.alert__message {
  display: inline-block;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
}

/* line 52, F:/Github/treehouse-frontend-project07/scss/utilities/_mixins.scss */
.alert__wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

/* line 58, F:/Github/treehouse-frontend-project07/scss/utilities/_mixins.scss */
.message--confirmation {
  background-color: #85db81;
}

/* line 58, F:/Github/treehouse-frontend-project07/scss/utilities/_mixins.scss */
.message--error {
  background-color: #ff4d4d;
}

/* line 1, F:/Github/treehouse-frontend-project07/scss/components/_typography.scss */
main {
  grid-area: main-region;
  display: grid;
  grid-template-rows: repeat(3, auto);
}

/* line 6, F:/Github/treehouse-frontend-project07/scss/components/_typography.scss */
body {
  grid-template-columns: 100% auto;
  display: grid;
  grid-template-areas: "main-header" "navbar" "main-region";
  grid-template-columns: repeat(3, 100%);
  align-items: center;
}

@media (min-width: 768px) {
  /* line 6, F:/Github/treehouse-frontend-project07/scss/components/_typography.scss */
  body {
    grid-template-columns: 75px auto;
  }
}

@media (min-width: 1024px) {
  /* line 6, F:/Github/treehouse-frontend-project07/scss/components/_typography.scss */
  body {
    grid-template-columns: 100px auto;
  }
}

@media (min-width: 768px) {
  /* line 6, F:/Github/treehouse-frontend-project07/scss/components/_typography.scss */
  body {
    display: grid;
    grid-template-areas: "main-header main-header" "navbar main-region";
    grid-template-rows: 55px auto;
    align-items: center;
  }
}

/* line 15, F:/Github/treehouse-frontend-project07/scss/components/_typography.scss */
.wrapper__main {
  display: grid;
  width: 100%;
  display: grid;
  grid-template-areas: "traffic" "daily-traffic" "mobile-users" "social-stats" "new-members" "recent-activity" "message-user" "settings";
  grid-template-columns: repeat(1, 1fr);
}

@media (min-width: 768px) {
  /* line 15, F:/Github/treehouse-frontend-project07/scss/components/_typography.scss */
  .wrapper__main {
    display: grid;
    grid-template-areas: "traffic traffic" "daily-traffic mobile-users" "social-stats social-stats" "new-members recent-activity" "message-user settings";
    grid-template-columns: repeat(2, 1fr);
  }
}

/*# sourceMappingURL=../css/styles.map */