.button {
  @include modifier("close") {
    display: inline-block;
    font-weight: bolder;
    cursor: pointer;
    transition: transform $transition-time linear,
                color $transition-time linear;
    &:hover {
      transform: scale(1.25);
    }
    &:active {
      color: darken($color-txt-primary, 25%);
    }

  }
}
