.form{
  width: 100%;
  align-self: flex-start;
  height: 100%;
  @include flexy($disp: flex, $dir: column, $just: space-between);
  @include element('label--hidden') {
    visibility: hidden;
  }
  @include element('input') {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 3px solid $color-highlight;
    padding-bottom: 10px;
    padding-left: 10px;
    width: 90%;
    &:last-of-type {
      margin-bottom: 30px;
    }
    &::placeholder {
      display: inline-block;
      color: darken($color-txt, 5%);
      font-weight: $font-bd-lg;
    }
    &:focus {
      outline: none;
      border-bottom: 3px solid darken($color-highlight, 20%);
    }
  }
}
