.img {
  @include modifier('logo') {
    @extend %img;
  }
  @include modifier('frame') {
    @extend %img;
    padding: $img-frame-gutter;
    border: 0.5px solid $img-frame-color;
    height: $img-height;
    max-width: 406px;
  }
  @include modifier('avatar') {
    @extend %img;
    height: $img-height;
    width: $img-height;
    @include centered;
    max-width: 210px;
  }
}




.profile__image {
  border-radius: 50%;
}


.nav__icon {
  fill: red;
  width: 100px;
  height: 100px;
  background: none;
}
