.icon {
  @include element("alert") {
    @extend %icon;
    fill: $color-txt-primary;
    cursor: pointer;
    &-container {
      position: relative;
      .dot {
        display: inline-block;
        position: absolute;
        top: -4px;
        right: -4px;
        width: 8px;
        height: 8px;
        background: $color-scale-selected;
        border-radius: 50%;
      }
    }
  }
  @include element("nav") {
    @extend %icon;
    cursor: pointer;
  }
}
