.profile {
  @include element("self") {
    @include flex($align-coaxis: center);
    grid-area: profile-self;
    height: $img-size;
  }
  @include element("image") {
    height: $img-size;
    width: $img-size;
    border: 1px solid $color-profile-border;
    border-radius: 50%;
  }
  @include element("name") {
    display: inline-block;
    color: $color-txt-primary;
    font-size: $font-size-md;
  }
}
