.section {
  @include modifier("small") {
    grid-column-start:
    &:nth-child(odd) {
      border-right: none;
      @include media("tablet") {
        border-right: 1px solid $color-grid;
      }
    }
  }
}

section{
  width: 100%;
  @include flex($dir: column, $just: center);
  @include allmedia("padding", $padding-section);
  &:not(:first-of-type) {
    border-top: 1px solid $color-grid;
  }
}

#section {
  &-traffic {
    grid-area: traffic;
  }
  &-daily-traffic {
    grid-area: daily-traffic;
  }
  &-mobile-users {
    grid-area: mobile-users;
  }
  &-social-stats {
    grid-area: social-stats;
  }
  &-new-members {
    grid-area: new-members;
  }
  &-recent-activity {
    grid-area: recent-activity;
  }
  &-message-user {
    grid-area: message-user;
  }
  &-settings {
    grid-area: settings;
  }
}

.wrapper__main {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(1, 1fr);
  grid-template-areas:  "traffic"
                        "daily-traffic"
                        "mobile-users"
                        "social-stats"
                        "new-members"
                        "recent-activity"
                        "message-user"
                        "settings";
  @include media("tablet") {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:  "traffic traffic"
                          "daily-traffic mobile-users"
                          "social-stats social-stats"
                          "new-members recent-activity"
                          "message-user settings";
  }
}
