.section {
  width: 100%;
  @include flex($dir: column, $just: center);
  @include allmedia("padding", $padding-section);
  &:not(:first-of-type) {
    border-top: 1px solid $color-grid;
  }
}

#section {
  &-traffic {
    grid-area: traffic;
  }
  &-daily-traffic {
    grid-area: daily-traffic;
    @include media("tablet") {
      border-right: 1px solid $color-grid;
    }
  }
  &-mobile-users {
    grid-area: mobile-users;
  }
  &-social-stats {
    grid-area: social-stats;
  }
  &-new-members {
    grid-area: new-members;
    @include media("tablet") {
      border-right: 1px solid $color-grid;
    }
  }
  &-recent-activity {
    grid-area: recent-activity;
  }
  &-message-user {
    grid-area: message-user;
    @include media("tablet") {
      border-right: 1px solid $color-grid;
    }
  }
  &-settings {
    grid-area: settings;
  }
}
