* {
  box-sizing: border-box;
  font-family: $font-family;
}

ul {
  @include flexy($disp: flex, $dir: row, $wrap: wrap, $just: space-around);
  @include centered;
  align-items: center;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
  @include mq('desktop') {
    width: 80%;
  }
}

p {
  font-size: $font-size;
  line-height: 25px;

}
